.home {
  height: 100vh;
  min-height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #272727;
  margin: 0;
}

.title {
  font-size: 1.8em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 2rem;
  max-width: 500px;
  width: 90%;
  text-align: center;
}

.kmhdui {
  background: url("../../static/line-biru.png") no-repeat bottom;
}

.link {
  color: #16997d;
  background: none;
}

.form {
  max-width: 500px;
  width: 90%;
  font-weight: bolder;
}

.form-input {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center !important;
  justify-content: center;
}

.input {
  padding: 0;
  width: calc(100% - 40px);
  height: 1.8rem;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1.2rem;
  padding: 7px 15px;
  border: 2px solid #ddd;
  color: #979797;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #272727;
  font-size: 1em;
}

.custom {
  border: none;
  width: 100%;
  outline: none;
  padding: 0;
  padding: 7px 15px;
  padding-left: 5px;
}

.input-invalid {
  border: 2px solid rgb(247, 158, 158) !important;
}

.btn {
  width: 100%;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  background-color: #436eab;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: #7fa0ce;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
}

.btn:disabled:hover {
  background-color: #cccccc;
  color: #666666;
  box-shadow: none;
}

.copy {
  background-color: #71a79b;
}

.copy:hover {
  background-color: #a8d0c7;
}
